.mainWindow {
    background-color: #31363b;
}

.button {
    background: #ADFF2F;
    font-size: 16px;
}
.button:hover {
    transition: 200ms ease-in-out;
    background: #7CFC00;
    color: white;
    font-size: 16px;
}
.button:active {
    border-style: inset;
}
.menubar {
    /*background: #00000000;*//*#ADFF2F;*/
    color: #000000;
}
.fileitem {
    background-color: #ADFF2F;
    border-style: inset;
    border-color: white;
}
.fileitem:hover {
    background: #ff00ff;
}
.helpitem {
    background-color: #ADFF2F;
    border-style: inset;
    border-color: white;
}
.helpitem:hover {
    background: #ff00ff;
}
.output {
    border-style: inset;
}

