* {
    font-size: 20px;
}

.mainWindow {
    background-color: #f4f4f4;
}
.button {
    background: #87ceeb;
    font-size: 16px;
}
.button:hover {
    transition: 200ms ease-in-out;
    background: #00bfff;
    color: white;
    font-size: 16px;
}
.button:active {
    border-style: inset;
}
.menubar {
    background-color: #f4f4f4;
    color: #000000;
}
.fileitem {
    background-color: #87ceeb;
    border-style: inset;
    border-color: white;
}
.fileitem:hover {
    background: #40e0d0;
}
.helpitem {
    background-color: #87ceeb;
    border-style: inset;
    border-color: white;
}
.helpitem:hover {
    background: #40e0d0;
}
.output {
    border-style: inset;
}
.text {
    color: #0B0B0B;
}
#spaceT {
    background-color: #f4f4f4;
    color: #000000;
}
.submenuChild {
    background-color: #48d1cc;
    color: #050505;
}
.submenuChild:hover {
    border-style: inset;
    transition: 200ms ease-in-out;
    background-color: #00ced1;
    color: #ffffff;
}
#outputLabel {
    color: black;
}
